* {
  font-family: 'Baloo Tamma', cursive;
   box-sizing: border-box;
  }

  body {
    position: relative;
    height: 100vh;
    background-repeat:no-repeat;
    background-image: linear-gradient(to bottom, #20B2AA 60%, white 100%);
    background-blend-mode: color-dodge;
  }

  #container {
    position: relative;
    border-radius: .5em;
    width: 45%;
    margin: 2% auto;
    height: 85vh;
    background-color: white;
    box-shadow: .65em .65em .5em #555;
  }

  #title {
    font-size: 2em;
    padding: 1em 0 .25em 0;
    text-align: center;
  }

  #calculator {
  /*border: 1px solid black;*/
   width: 66.75%;
   height: 80%;
   margin: inherit;
}

  .result {
   width: 270px;
   height: 90px;
   border: .5px solid grey;
   padding-left: 1em;
   float: left;
   line-height: 90px;
  }

  .result > p {
    margin: auto;
    letter-spacing: .1em;
    font-size: 2em;
  }

  .clear, span {
   height: 90px;
   border: .5px solid grey;
   text-align: center;
   line-height: 90px;
   cursor: pointer;
   font-size: 1.5em;

  }

  .clear {
   width: 90px;
   float: left;
   font-size: 1.5em;
  }

  span {
   float: left;
   width: 90px;
   font-size: 1.5em;

  }
